	*{
		margin: 0px;
		padding: 0px;
	}
	.top .li{
		display: inline-block;
		list-style: none;
	}
	li{
		list-style: none;
	}
	.header .li1,.li2{
		display: inline-block;
		list-style: none;
	}
/* 	.header .tu .li2{
		display: block;
	} */
	.top{
		height: 50px;
		background-color: #333333;
	}
	.top ul{
		width: 1226px;
		/* background-color: #ff0000; */
		margin-left: 150px;
	}
	.top .li a{
		text-decoration: none;
		color: #b0b0b0;
		font-size: 12px;
		line-height: 50px;
		margin-left: 40px;
	}
	.top .li a:hover{
		color: #ffffff;
	}
	.top,.header{
		text-align: center;
	}
	.header{
		width: 1226px;
		height: 88px;
		/* background-color: #0000FF; */
		margin: 0 auto;
		background-image: url(../images/sucai/mi-logo.png);
		background-repeat: no-repeat;
		background-size: 72px;
		background-position: 5px;
		
	}

	.header .ul1{
		display: inline-block;

	}
	.header .ul1 .li1 a{
		display: inline-block;
		/* height: 88px; */
		/* background-color: #00FFFF; */
		text-decoration: none;
		color: #333333;
		line-height: 88px;
		margin-right: 14px;
	}
	.header .ul1 .li1 a:hover{
		color: #ff6700;
	}
	
	.tu{
		width: 1226px;
		height: 460px;
		background-color: #0000FF;
	}
	.tu .tu-left{
		float: left;
		width: 234px;
		height: 460px;
		/* font-size: 200px; */
		background-color: #535759;/* 背景颜色 */
	}
	.tu .tu-left .li2{
		/* margin-top: 5px; */
	}
	.tu .tu-left .li2 a:hover{
		background-color: #ff6f00;/* 鼠标放在目标变换背景颜色 */
	}
	.tu .tu-left .li2 a{
		display: block;
		text-decoration: none;
		width: 234px;
		height: 42px;
		line-height: 41px;
		color: aliceblue;/* 文字颜色 */
		margin: 1px 0px;
	}
	.tu .tu-left .ul2{
		margin-top: 10px;
	}
	.tu .tu-right{
		float: left;
		width: 992px;
		height: 460px;
	}
	.tu .tu-right img{
		width: 992px;
		height: 460px;
	}
	.header .zhong{
		width: 1226px;
		height: 170px;
		/* background-color: #0000FF; */
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 10px;
	}
	.zhong .ul3 li{
		display: inline-block;
		margin-top: -20px;
	}
	.zhong .ul3 #li1 a{
		margin-top: -20px;
	}
	.zhong .ul3 #li2 a{
		margin-top: -20px;
	}
	.zhong .ul3 #li3 a{
		margin-top: -20px;
	}
	.zhong .ul3 #li4 a{
		margin-top: -20px;
	}
	.zhong .ul3 #li5 a{
		margin-top: -20px;
	}
	.zhong .ul3 #li6 a{
		margin-top: -20px;
	}
	 .zhong .ul3{
		float: left;
		width: 234px;
		height: 170px;
		font-size: 15px;
		background-color: #5f5750;
	}
	.zhong .ul3 li a{
		text-decoration: none;
	}
	.zhong .ul3 #li1 img{
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		margin-top: 40px;
	}
	.zhong .ul3 #li2 img{
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		margin-top: 40px;
	}
	.zhong .ul3 #li3 img{
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		margin-top: 40px;
	}
	.zhong .ul3 #li4 img{
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		margin-top: 40px;
	}
	.zhong .ul3 #li5 img{
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		margin-top: 40px;
	}
	.zhong .ul3 #li6 img{
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		margin-top: 40px;
	}
	.zhong .ul3 #li1 a{
		display: inline-block;
		width: 70px;
		height: 63.6px;
		color: #cfccca;
		line-height: 63.6px;
		/* margin: 10px; */
	}
	.zhong .ul3 #li2 a{
		display: inline-block;
		width: 70px;
		height: 63.6px;
		color: #cfccca;
		line-height: 63.6px;
		/* margin: 10px; */
	}
	.zhong .ul3 #li3 a{
		display: inline-block;
		width: 70px;
		height: 63.6px;
		color: #cfccca;
		line-height: 63.6px;
		/* margin: 10px; */
	}	.zhong .ul3 #li4 a{
		display: inline-block;
		width: 70px;
		height: 63.6px;
		color: #cfccca;
		line-height: 63.6px;
		/* margin: 10px; */
	}	.zhong .ul3 #li5 a{
		display: inline-block;
		width: 70px;
		height: 63.6px;
		color: #cfccca;
		line-height: 63.6px;
		/* margin: 10px; */
	}
	.zhong .ul3 #li6 a{
		display: inline-block;
		width: 70px;
		height: 63.6px;
		color: #cfccca;
		line-height: 63.6px;
		/* margin: 10px; */
	}
	.zhong .zhong-1, .zhong-2, .zhong-3{
		float: left;
		width: 316px;
		height: 170px;
		background-color: #ff5500;
		margin-left: 14.5px;
		font-size: 40px;
	}
	.zhong .zhong-1 img{
		width: 316px;
		height: 170px;
	}
	.zhong .zhong-2 img{
		width: 316px;
		height: 170px;
	}
	.zhong .zhong-3 img{
		width: 316px;
		height: 170px;
	}
	#bo{
		width: 1226px;
		height: 120px;
	}
	