*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.w{
	width: 1200px;
	margin: 0 auto;
	/* background-color: #0000FF; */
}
.top{
	height: 44px;
	margin: 30px auto;
	background-color: pink;
}
.top img{
	float: left;
	width: 200px;
	height: 44px;
} 
.top ul{
	float: left;
	margin-left: 60px; 
}
.top ul li{
	float: left;
}